<div class="panel-body">
  <%= simple_form_for @position do |f| %>

    <div class="form-group">
      <label>Business Name</label>
      <input type="email" class="form-control" placeholder="Business Name">
    </div>

    <div class="form-group">
      <label>Business Type</label>
      <select class="form-control">
       <option>Bar</option>
       <option>Cafe</option>
       <option>Restaurant</option>
      </select>
    </div>

    <div class="form-group">
      <label>Postcode</label>
      <input type="email" class="form-control" placeholder="Postcode">
    </div>

    <%= f.input :title, label: 'Job Title', placeholder: 'Job Title' %>

    <div class="form-group">
      <label>Job Tagline</label>
      <input type="email" class="form-control" placeholder="Job Tagline">
    </div>


    <div class="pull-right"><span id="body-count">0</span> characters</div>
    <%= f.input :description, label: 'Job Description', placeholder: 'Job Description', as: :text, hint: 'Between 150 - 500 characters', input_html: { :id => "body-field", :cols => 5, :rows => 10 } %>

    <%= f.submit 'Add Job', class: 'btn btn-default' %>
  <% end %>

</div>
