<div class="panel panel-default homers">
  <div class="panel-body">
    <div class="inner-dark-box">
      <h6><%= link_to "#{position.title}", position_path(position) %></h6>
    </div>
  </div>
</div>

