<div class="row">
  <div class="col-lg-offset-3 col-lg-6">

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Edit Job</h3>
      </div>
        <%= render 'form' %>
    </div>
  </div>
</div>

<div class="pull-right">
  <%= link_to 'Show', @position %> | <%= link_to 'Back', positions_path %>
</div>
